* {
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Oxygen', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  touch-action: none;
}

canvas {
  grid-column: 1;
}

.btn-container {
  position: absolute;
  grid-column: 1;
  z-index: 100;
  padding: 20px;
  margin-inline-start: 30px;
  margin-block-start: 30px;

  border: 1px solid white;
  background-color: black;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 40px;
  width: 100%;

  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.3ch;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;

  color: hsla(0, 0%, 100%, 0.8);
  background: hsl(275, 38%, 54%);
  border: none;
  border-radius: 10px;
  outline: none;
}

.btn:hover,
.btn:focus {
  color: hsl(0, 0%, 2%);
  outline: 2px solid white;
  border: none;
  background-color: hsl(274, 79%, 81%);
}

@media screen and (max-width: 400px) {
  .btn-container {
    margin: 10px auto;
    width: 100%;
    flex-direction: row;
    justify-self: center;
    border: none;
    background-color: transparent;
  }

  .btn {
    padding: 12px;
    font-size: 1.3em;
  }
}
